/* /Media queries */
@import './App-medium.css';
@import './App-large.css';

:root{
  --main-color: #29ca8e;
}


.App {
  text-align: center;
}

.shadow{
  box-shadow: 0 6px 1rem rgba(0,0,0,.1);
}

/* ------------------------Nav Bar -------------------------------- */

.navBar{
  border-top: 5px solid var(--main-color);
  background-color: white;
  height: 7vh;
  margin-bottom: 0;
  padding-left: 15%;
  display: flex;
  align-items: center;
}

.navBar a{
  text-decoration: none;
  color: black;
  /* padding: 25px 20px; */
  justify-content: center;

  /* background-color: transparent; */
}

.navBar a:hover{
  background-color: var(--main-color);
  color: white;
  font-weight: 400;

}

.navBar img{
  width: 9%;
  height: 7vh;
}
/* ------------------------Nav Bar -------------------------------- */
/* ------------------------------- -------------------------------- */


/* ------------------------Home -------------------------------- */

.home img{
  width: 80%;
  height: 40vh;
  /* padding-left: 10%; */
}

.home div{
  background-color: rgb(61, 61, 61);
}