/* /Media queries */
a{
  text-decoration: none;
}

:root{
  --main-color: #29ca8e;
}


.App {
  text-align: center;
}

.shadow{
  box-shadow: 0 6px 1rem rgba(0,0,0,.1);
}

/* ------------------------Nav Bar -------------------------------- */

.navBar{
  border-top: 5px solid var(--main-color);
  background-color: white;
  height: 7vh;
  margin-bottom: 0;
  padding-left: 15%;
  display: flex;
  align-items: center;
}

.navBar a{
  text-decoration: none;
  color: black;
  padding: 25px 20px;
  justify-content: center;

  /* background-color: transparent; */
}

.navBar a:hover,
.navBar a:focus,
.navBar a:active{
  background-color: var(--main-color);
  color: white;
  font-weight: 400;

}

.navBar img{
  width: 9%;
  height: 7vh;
}
/* ------------------------Nav Bar -------------------------------- */
/* ------------------------------- -------------------------------- */


/* ------------------------Home -------------------------------- */

.home-hero img{
  width: 80%;
  height: 30vh;
  margin-bottom: 0;
}

.home-hero{
  background-color: rgb(61, 61, 61);
}

.home-content{
  width: 80%;
  margin:0 10% 6rem;
  border: solid gainsboro;
  border-width: 0  2px  0 2px;
  
}

.home p{
  width: 40%;
  text-align: left;
  margin: 0 30%;
  font-size: 1.1rem;
}

.home p:first-child{
  margin-top: 6rem;
}
/* ^-----------------------Home -------------------------------^ */

/* \/-----------------------Stock Details ------------------------------\/ */

.ChartSection{
  margin-top: 4rem;
  display: flex;
}


.SearchForm{
  width: 20%;
  margin:0 7rem 0 10rem;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px 0px rgba(92, 92, 92, 0.5);
  padding: 0 1.6rem;
  /* border: 1px solid black; */
}

.SearchForm input, button{
  height: 2rem;
  border:0;
  color: black;
  font-size: 1rem;
}

.SearchForm input[type=text]{
  width: 25%;
  /* height: 2rem; */
  background: rgb(240, 239, 239);
  padding: 0 1.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

/* .SearchForm input:focus{
  outline: rgb(2, 125, 248);
} */

.SearchForm button{
  /* height: 2rem; */
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-color);
  
}

.SearchForm p{
  margin-top: 15%;
}


.Chart{
  width: 50%;
  height: 500px;
  border:1px solid gainsboro;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 5px 0px rgba(92, 92, 92, 0.5);
}

.Chart p{
  color: blue;
  margin: 0;
  padding-bottom:0.5rem;
}

.toolTip{
  width: 100%;
  color: rgb(100, 100, 100);
  padding: 1rem;
  display: flex;
  justify-content:space-around;
}

.toolTip div{
  padding: 0 0.3rem;
}

/* /Fundamentals sections */
#companyName{
  text-align: left;
  margin: 5% 0 0 10.5%;
}

.fundamentals{
  text-align: left;
  margin: 5% 0 0 3%;
  display: flex;
}

.fundamentals div{
  width: 15%;
  padding: 0 7%;
}

.fundamentals span{
  float: right;
  font-weight: 400;
}

.fundamentals p{
  font-weight: 500;
}

/* \/-----------------------News Section ------------------------------\/ */

.news{
  margin: 5rem 0 0 5rem;
  display: flex;  
}

.news div{
  width: 22%;
  height: 35rem;
  margin: 0 3% 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem 0.5rem 0  0;
  text-align: left;
  padding: 1rem;
  overflow: hidden;
}

.news img{
  width: 100%;
  max-height: 20rem;
  border-radius: 0.5rem 0.5rem 0  0;
}

.news p{
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  line-height: 1;
}


/* \/-----------------------News Section ------------------------------\/ */
.footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  color: rgb(243, 243, 243);
  height: 3%;
  text-align: left;
  padding-right: 10%;
}

.footer a{
  color: rgb(243, 243, 243);
}



/* \/-----------------------Watch List Component ------------------------------\/ */

.top-bts-MyList{
  text-align: right;
}


.top-bts-MyList button{
  height: 1.5rem;
  border-radius: 5px;
  color: #191a19;
  background-color: whitesmoke;
  border: #24b37e solid 2px;
  font-size: small;
  font-weight: 600;
  margin: 0 0.3rem;
}

.top-bts-MyList button:hover,
.top-bts-MyList button:active{
  
  color: white;
  background-color: #24b37e;
}

.each-row-watchList,
.each-row-watchList-header{
  display: flex;
  width: 100%;
  margin: 0 9.5%;
}

.each-row-watchList div{
  border: solid gainsboro 1px;
  width: 8%;
}

.each-row-watchList-header div{
  border: none;
  width: 8%;
  text-align: center;
  color: rgb(87, 86, 86);
  margin: 1px;
}

.each-row-watchList button{
  margin-top: 12%;
}

/* \/----------------------- Watch List Component ------------------------------\/ */

.search-form-addStock input{
  width: 70%;
  height: 1.6rem;
  margin-top: 3rem;
}





.search-form-addStock{
  width: 20%;
  height: 20rem;
  margin:5% 35%;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px 0px rgba(92, 92, 92, 0.5);
  padding: 0 1.6rem;
  /* border: 1px solid black; */
}

.search-form-addStock input, button{
  height: 1.65rem;
  border:0;
  color: rgb(51, 50, 50);
  font-size: 1rem;
}


.search-form-addStock input[type=text]{
  width: 45%;
  /* height: 2rem; */
  background: rgb(240, 239, 239);
  padding: 0 1.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

/* .SearchForm input:focus{
  outline: rgb(2, 125, 248);
} */

.search-form-addStock button{
  /* height: 2rem; */
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-color);
  color: aliceblue;
  
}

.result-add-watchList button{
  border-radius: 0.5rem;
  width: 4.5rem;
}

.search-form-addStock p{
  margin-top: 15%;
}
.chart-btn-myList button,
.del-btn-myList button{
  min-width: 60px;
  height: 25px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: small;
  font-weight: 500;
}

/* /chart btn */
.chart-btn-myList button{
  border: gainsboro solid 2px;
  color: cornflowerblue;
}

.chart-btn-myList button:hover,
.chart-btn-myList button:active{
  border:none;
  color:#24b37e;
  font-weight: 600;
}

/* /delete btn */
.del-btn-myList button{
  background-color: rgb(245, 164, 164);
}
.del-btn-myList button:hover,
.del-btn-myList button:active{
  background-color: rgb(245, 77, 77);
}