/* /Media queries */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #29ca8e;
}

.App {
  text-align: center;
  max-width: 95rem;
  margin: auto;
  background-color: white;
}

.shadow {
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

/* ------------------------Nav Bar -------------------------------- */

.navBar {
  border-top: 5px solid var(--main-color);
  background-color: white;
  height: 60px;
  padding-left: 2rem;
  display: flex;
  align-items: space;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.navBarLinks {
  display: flex;
  margin-right: 2rem;
}

.navBarLinks a {
  display: block;
  padding: 15px 20px 19px;
  color: black;
  justify-content: center;
}

.navBarLinks a:hover,
.navBarLinks a:focus,
.navBarLinks a:active {
  background-color: var(--main-color);
  color: white;
  font-weight: 400;
}

.navBar img {
  width: 6rem;
  height: 100%;
}

/* ------------------------Nav Bar -------------------------------- */
/* ------------------------------- -------------------------------- */

/* ------------------------Home -------------------------------- */

.home-hero-pic img {
  width: 100%;
  margin-bottom: 0;
}

.home-hero {
  background-color: rgb(61, 61, 61);
}

.home-content {
  width: 80%;
  margin: 0 10% 6rem;
  border: solid gainsboro;
  border-width: 0 2px 0 2px;
}

.home p {
  width: 40%;
  text-align: left;
  margin: 0 30%;
  font-size: 1.1rem;
}

.home p:first-child {
  margin-top: 6rem;
}

/* ^-----------------------Home -------------------------------^ */

/* \/-----------------------Stock Details ------------------------------\/ */

.ChartSection {
  margin: 5rem 5rem;
  display: flex;
  justify-content: space-around;
}

.SearchForm {
  width: 25rem;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px 0px rgba(92, 92, 92, 0.5);
  padding: 0 1.6rem;
  /* border: 1px solid black; */
}

.SearchForm input,
button {
  height: 2rem;
  border: 0;
  color: black;
  font-size: 1rem;
}

.SearchForm input[type="text"] {
  width: 80%;
  height: 30px;
  background: rgb(240, 239, 239);
  padding: 0 20px;
  border-radius: 0.5rem 0 0 0.5rem;
}

/* .SearchForm input:focus{
  outline: rgb(2, 125, 248);
} */

.SearchForm button {
  height: 30px;
  width: 50px;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-color);
}

.SearchForm button:hover,
.SearchForm button:active {
  cursor: pointer;
  color: white;
}

.SearchForm p {
  margin-top: 15%;
}

.Chart {
  width: 65%;
  height: 500px;
  border: 1px solid gainsboro;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 5px 0px rgba(92, 92, 92, 0.5);
}

.Chart p {
  color: blue;
  margin: 0;
  padding-bottom: 0.5rem;
}

.toolTip {
  width: 100%;
  color: rgb(100, 100, 100);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.toolTip div {
  padding: 0 0.3rem;
}

/* /Fundamentals sections */
#companyName {
  text-align: left;
  margin: 5% 0 0 10.5%;
}

/* \/-----------------------News Section ------------------------------\/ */

.news {
  margin: 5rem 0 0 5rem;
  display: flex;
}

.news div {
  width: 22%;
  height: 35rem;
  margin: 0 3% 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: left;
  padding: 1rem;
  overflow: hidden;
}

.news img {
  width: 100%;
  max-height: 20rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.news p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  line-height: 1;
}

/* \/-----------------------News Section ------------------------------\/ */

.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  color: #777777;
  height: 5rem;
  text-align: center;
}

.footer a {
  color: #666666;
}

.footer-details {
  margin: 1rem 0;
}


.home {
  min-height: 79.1vh;
}

.contact {
  min-height: 67.1vh;
}

.portfolio-page {
  min-height: 72.2vh;
}



/* \/----------------------- Search Form Component ------------------------------\/ */

.search-form-addStock input {
  width: 70%;
  height: 1.6rem;
  margin-top: 2rem;
}

.search-form-addStock {
  width: 25%;
  height: 24rem;
  margin: 5% 35%;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px 0px rgba(92, 92, 92, 0.5);
  padding: 0 1.6rem;
  /* border: 1px solid black; */
}

.search-form-addStock input,
button {
  height: 1.65rem;
  border: 0;
  color: rgb(51, 50, 50);
  font-size: 1rem;
}

.search-form-addStock input[type="text"] {
  width: 45%;
  /* height: 2rem; */
  background: rgb(240, 239, 239);
  padding: 0 1.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

/* .SearchForm input:focus{
  outline: rgb(2, 125, 248);
} */

.search-form-addStock button {
  /* height: 2rem; */
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-color);
  color: aliceblue;
}

.search-form-addStock button:active {
  background-color: blue;
}

.result-add-watchList button {
  border-radius: 0.5rem;
  width: 4.5rem;
}

.search-for-Watch-List {
  margin-bottom: 2rem;
}

.search-form-addStock p {
  margin-top: 5%;
  text-align: left;
}

.symbol-msg {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.confirm-msg {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}



/* ^----------------------- Watch List Component -------------------------------^ */
.portfolio-page {
  margin-left: 10%;
}

.portfolio-page h3 {
  text-align: center;
  margin-right: 16%;
  margin-bottom: 4rem;
}

/* \/----------------------- Contact ------------------------------\/ */

.contact {
  width: 80%;
  margin: 0 10%;
  border: solid gainsboro;
  border-width: 0 2px 0 2px;
}

.contact div {
  margin-top: 2rem;
  display: flex;
}

.contact div div {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: left;
}

.contact div div:first-child {
  margin-left: 30%;
}

.contact h3 {
  margin-top: 7rem;
}

#banner_mobile {
  display: none;
  width: 30%;
  margin-left: 35%;
  text-align: center;
  margin-top: 20px;
  background-color: lightcoral;
  padding-bottom: 2px;
}


@media only screen and (max-width: 1159px) {
  #banner_mobile {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .navBar a {
    padding: 1.4rem 20px;
  }
}